<footer>
     © 2024 Mi Página Web. Todos los derechos reservados
    <h4>Roly Mamani Alvarado</h4>
</footer>
<style>
   footer{
    background-color: rgb(80, 140, 170);
    text-align: center;
    color: antiquewhite;
   }
</style>